:root {
    --primary-color: #FFD100;
    /* Yellow */
    --secondary-color: #0033A0;
    /* Blue */
    --accent-color: #CE1126;
    /* Red */
    --text-color: #000;
    --background-color: #fff;
    /* White background */
    --footer-color: #CE1126;
    /* Red footer */
    --card-background: #ffffff;
    /* White for better readability */
}

body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-color: var(--accent-color);
    color: var(--background-color);
}

.hero {
    text-align: center;
    margin-bottom: 1rem;
}

.hero picture img {
    width: 100%;
    height: auto;
    display: block;
}

.hero img {
    width: 100%;
    height: auto;
}

.data,
.weather {
    background-color: var(--card-background);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    text-align: center;
}

.data h2,
.weather h2 {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.weather picture img {
    width: 50px;
    height: auto;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--footer-color);
    color: var(--background-color);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    font-style: italic;
}