/* Apply styles for larger screens using a media query */
@media (min-width: 767px) {
    main figure {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 24px;
    }

    nav ul {
        justify-content: center;
        gap: 1rem;
        display: flex !important;
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }
}