/* Apply styles for larger screens using a media query */
@media (min-width: 767px) {
    main figure {
        /* Explicitly set a 3x3 grid layout */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    nav ul {
        justify-content: center;
        gap: 1rem;
        display: flex !important;
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }
}

/* Image effects for larger screens */
figure img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}